@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800 &family=mooli&display=swap');
*
{
    margin:0px;
    padding: 0px;
}

.header
{
    width: 100%;
    height: 70px;
    background-color:#d6d3d3;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
   
}
.logo
{
    width: 30%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;

}
.nav 
{
    width: 30%;
    height: 70px;
    /* justify-content: ; */
    /* background-color: blue;  */
} 
.nav-links
{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    align-items:center;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;

}

.banner
{
    width: 100%;
    height: 500px;
    background-color: #d6d3d3;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
     
    
    display: flex;
    align-items: center;

}
.details
{
    width: 60%;
    padding: 20px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

}
.text1
{
    font-family: 'Montserrat',sans-serif;
    font-size: 70px;
   
}
.text2
{
    font-family: 'Courier New', Courier, monospace;
    font: size 50px;;
    color: red;
   
}
.desc
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
   
}
.button
{
   padding: 15px 40px; 
   font-size: 20px;
   margin-top: 30px;
   background-color: black;
   color: white;
   border: 2px solid black;
   border-radius: 10px;
   cursor: pointer;
   transition: 2s;

}

.button:hover
{
    transform: scale(1.15);
    background-color: transparent;
    color: black;
}


.image
{
    background-color: rgb(242, 242, 246);
    border-radius: 25px;
    padding: 30px;
}
.person-img
{
    height: 250px;
}
/* services css */
.services
{
    width: 100%;
    padding: 30px 5%;
    /* background-color: red; */
}
.section-title
{
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    
    
    


}
.section-child
{
    width: 100%;
    padding: 30px 0%;
    /* background-color: white; */
    display: flex;
    column-gap: 4%;
    
    
    
    
}
.service
{
    width: 22%;
    height: 500px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    row-gap: 10px;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;

}
.icon 
{
    padding: 50px;
    font-size: 70px;
    align-self: center;
}
.service-text
{
    font-family: 'Times New Roman', Times, serif;
}


.service-btn
{
 padding: 5px 10px;
 background-color: black;
 color: white;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 transition: 2s;
}
.service-btn:hover
{
    background-color: transparent;
    color: black;
}